fastapi==0.104.1
uvicorn==0.24.0.post1
SQLAlchemy==2.0.23
python-dotenv==1.0.0
mysql-connector-python==8.2.0
passlib==1.7.4
python-jose[cryptography]==3.3.0
requests==2.31.0
pydantic==2.5.2
pydantic-settings==2.1.0
bcrypt==4.1.2
httpx
google-genai=1.4.0